.container {text-align: center;}
h1 {color: black;}
#command {width: 1300px;height: 40px;margin-top: 20px; border-radius: 10px;}
.row {display: flex;justify-content: center;margin-top: 10px;}
.column {width: 800px;padding: 10px; margin:50px}
body {background-color: lightblue;}
#column1 {background-color: gray; border-radius: 25px; overflow: auto; height:600px}
#column2 {background-color: lightgreen; border-radius: 25px; overflow: auto; height: 600px}
#respBody {text-align: left;}
#respHeaders {text-align: left;}
#button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
pre {
    white-space: pre-line;
}