<!DOCTYPE html> 
<head>
    <title>Snaky Curl</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    

    <div class="container">

        <h1>ONLINE CURL</h1>
        <form action="/" method="post">
            <input type="text" id="command" class="'command" name="command">
            <input type="submit" value="CURL!" id="button">
        </form>
        <p> {{ err }}</p>
        <div class="row">
        <div class="column" id="column1">
        <h2>Response Headers</h2>
        <div id="respHeaders">
        <pre>
            {{ headers }}
        </pre>
        </div>
    </div>
        <div class="column" id="column2">
        <h2>Response body</h2>
        <pre id="respBody">
            {{ result }}
        </pre>
        </div>
        </div>
    </div>

</body>


</html>