<!DOCTYPE html> 
<head>
    <title>Snaky Curl</title>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='new.css') }}">
    
</head>




<body style="background-image: url({{ url_for('static', filename='background.jpg') }})">
    <h1 id = "header">
        Try new online request tool
    </h1>
    <form action="/" method="post">

        <input type="text" name="site" id="site">
        {{ err }}

    <div class="row">

        <div class="column" style="padding-right: 2px; border-right-style: dashed; width: 47%; height: 1000px; background-color: #DCDCDC; margin-left: 3%; border-top-left-radius: 25px; border-bottom-left-radius: 25px; position: relative;">
            <div id = "slider">
                <div class="reating-arkows imagexplains">
                    <input id="d" type="checkbox" name="reqType">
                    <label for="d">
                    <div class="trianglesusing" data-checked="POST" data-unchecked="GET"></div>
                    <div class="moresharpened"></div>
                    </label>
                </div>
            </div>
            <details>
                <summary>Headers</summary>
                <div class="headerClass" id="headerClass">
                    <button class="plus" onclick="addQuestion()" type="button">+</button>
                </div>

            </details>
            <p class="headBody">Request Body</p>
            <div class="reqBody">
                <input type="text" class="reqBody">
            </div>
            <input type="submit" value="REQUEST" id="formButton">
        </div>
        
        <div class="column" style="background-color: #D3D3D3; height: 1000px; width: 47%; border-top-right-radius: 25px; border-bottom-right-radius: 25px;">

            <h1 style="text-align: center;">Response</h1>
            <pre id="respBody">
                {{ headers }}
                {{ result }}
            </pre> 

        </div>
    </div> 
    
       



        
    </form>

</body>
</html>